<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
    <title>Crea ingredienti</title>
</head>
<body>
<div class="container">
    <!--Messaggio che arriva dalla redirect-->
    <div th:if="${message != null}">
        <div class="alert alert-success alert-dimissibile fade show" role="alert">
            <span th:text="${message}"></span>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    </div>
    <h1>Aggiungi un ingrediente alla lista</h1>
    <!--form per gli ingredienti -->
    <section class="mb-5">
        <form
                th:action="@{/ingredienti/create}"
                id="ingredienti-form"
                method="POST"
                th:object="${ingredienteObj}"
        >
            <div>
                <input type="text" class="form-control" id="ingredientname" th:field="*{nomeIngrediente}"
                       placeholder="Aggiunge un ingrediente">
                <button type="submit" class="btn btn-primary">Salva</button>
            </div>
        </form>
    </section>
    <!-- Elenco degli ingredienti -->
    <section>
        <ul class="list-group">
            <li
                    class="list-group-item d-flex align-items-center justify-content-between"
                    th:each="ingrediente : ${ingredientiList}"
            >
                <div th:text="${ingrediente.nomeIngrediente}"></div>
                <div>
                    <form
                            method="POST"
                            th:action="@{/ingredienti/delete/{ingId}(ingId = ${ingrediente.id})}"
                    >
                        <button class="btn btn-primary" type="submit"><i class="fa-solid fa-trash-can"></i>
                        </button>
                    </form>
                </div>
            </li>
        </ul>
    </section>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>