<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous">
    <title>Dettagli</title>
</head>
<body>
<div class="container">
    <h1 th:text="${pizza.name}"></h1>
    <h4>La pizza presenta i seguenti ingredienti: </h4>
    <p th:text="${pizza.description}"></p>
    <h4>Il suo prezzo è:</h4>
    <p th:text="${pizza.price}"></p>
    <h4>Immagine referenziale:</h4>
    <img th:src="${pizza.foto}">
    <div class="mb-3 mt-3">
        <a class="btn btn-primary" th:href="@{/pizze}">Torna indietro</a>
    </div>
    <!--OFFERTE-->
    <div class="row">
        <h2>Offerte</h2>
        <div class="my-3">
            <a
                    class="btn btn-primary"
                    th:href="@{/offerte/create(pizzaId = ${pizza.id})}">Aggiungi Offerta</a>
        </div>

        <table class="table">
            <thead>
            <tr>
                <th>Titolo</th>
                <th>Data Inizio</th>
                <th>Data Fine</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="offerta : ${pizza.offerte}">
                <td th:text="${offerta.title}"></td>
                <td th:text="${offerta.dataInizio}"></td>
                <td th:text="${offerta.dataFine}"></td>
                <td></td>
            </tr>
            </tbody>

        </table>

    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
        crossorigin="anonymous"></script>
</body>
</html>